body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

#app {
    display: grid;
    grid-template-columns: 200px calc(100vw - 200px);
    grid-template-rows: 50px auto;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header, .content, .menu {
    width: 100%;
    height: 100%;
}

.header {
    grid-column: 1 / -1;
    background-color: #4CEB66;
    display: grid;
    grid-template-columns: calc(100% - 50px) 50px;
}

.content {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.menu {
    background: linear-gradient(to bottom, #4CEB66, #94EEA3);
}

.menu-item {
    display: grid;
    grid-template-columns: 40px calc(100% - 40px);
    column-gap: 5px;
    padding: 20px 0;
    border-left: 2px solid #4CEB66;
    box-sizing: border-box;
    cursor: pointer;
    color: #333;
    transition: background-color 500ms ease;
}

.menu-item .fas {
    justify-self: end;
}

.menu-item:hover {
    border-left: 2px solid #FFF;
    box-sizing: border-box;
    background-color: #94EEA3;
}

/* Button */

.icon-button {    
    margin: 5px;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 0;
    background: #5F857B;
    color: #FFF;
    box-shadow: 0px 3px 5px #333;
    cursor: pointer;
    outline: none;
}

.icon-button:active, .button:active {
    box-shadow: inset 0px 3px 5px #333;
}

.icon-button:active .fas, .button:active span {
    transform: translateY(1px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    user-select: none;
    cursor: pointer; 

    border-radius: 15px;
    width: 100px;
    height: 40px;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    box-shadow: 1px 2px 8px #333;

    color: #FFF;
    font-variant: small-caps;

    animation: animated-background 15s ease infinite;
}

/* Input */

.input {
    border: 0;
    border-bottom: 2px solid grey;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #EEE;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #5EBA7D;
    background: #FFF;
}

/* Card */

.card {
    width: 250px;
    height: 400px;
    background: lightgray;
    box-shadow: 5px 5px 10px #333;
    border-radius: 20px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 280px 60px;
    /* transition: height 500ms ease; */
}

.card .input, .card .button {
    opacity: 1;
    /* transition: opacity 500ms ease 150ms; */
}

/* .card:hover {
    height: 400px;
    transition: height 500ms ease;
} */

/* .card:hover .input, .card:hover .button {
    opacity: 1;
    transition: opacity 500ms ease 300ms;
} */

.card-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 20px;
    font-variant: small-caps;
}

.card-title .fas {
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

.card-content {
    display: grid;
    align-items: center;
    justify-items: center;
}

.card-button {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Table */

.table-header, .table-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding: 5px 0px;
}

/* .table-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 5px 0px;
} */

/* Animations */

@keyframes animated-background {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
    }
    100% {
		background-position: 0% 50%;
	}
}

/* Media Querys (Responsividade) */

@media only screen and (max-width: 1380px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}